
@{
    ViewData["Title"] = "Студенческий медиацентр ИРНИТУ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   
    <div class="cover-container d-flex mx-auto flex-column">
        <img src="~/img/index.png" width="100%" height="100%" class="bd-placeholder-img" />
        <img src="~/img/image 2.png" width="100%" height="100%" class="bd-placeholder-img" />
        <img src="~/img/image 4.png" width="100%" height="100%" class="bd-placeholder-img" />
        <img src="~/img/image 5.png" width="100%" height="100%" class="bd-placeholder-img" />
        <img src="~/img/image 6.png" width="100%" height="100%" class="bd-placeholder-img" />
        <img src="~/img/image 7.png" width="100%" height="100%" class="bd-placeholder-img" />
        <img src="~/img/image 8.png" width="100%" height="100%" class="bd-placeholder-img" />
        <img src="~/img/image 9.png" width="100%" height="100%" class="bd-placeholder-img" />
        <img src="~/img/image 10.png" width="100%" height="100%" class="bd-placeholder-img" />
        <img src="~/img/image 11.png" width="100%" height="100%" class="bd-placeholder-img" />
        <img src="~/img/image 14.png" width="100%" height="100%" class="bd-placeholder-img" />
    </div>
