
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css"  crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome/css/font-awesome.css" />
    <title>Войти</title>


    <style>
body{
    background: url("../img/input.jpg")no-repeat center center fixed; 
    width: 100%; 
    height: 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

    </style>
</head>
<body>

    <div class="container">
        <div class="text-center">
            <img src="~/img/smc.png" style="margin-top: 100px" width="50%" />
            <div class="row justify-content-md-center">
                <div class="col col-lg-6">
                    
                    <div class="m-1">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com" / >
                    </div>
                    <div class="m-1">
                        <input class="form-control" id="password" type="password" placeholder="Пароль" / >
                    </div>
                    
                    <div class="text-xs-center">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="m-1">
                                    <a type="button" class="btn btn-block btn-danger" href="\Job\Index">Войти</a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="m-1">
                                    <a type="button" class="btn btn-block btn-dark" href="\">Назад</a>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>        
    </div>


</body>
</html>